<p>This is a particle accelerator for writers. An imagination engine. A CERN of the word.</p>

<p>This is a word engine. An unfolding game. Expect things to be broken.</p>

<p>The word engine is driven by stories, which are the fundamental force of the word. You can fold, spindle
and multilate, but without a story you are naked and dead. The <%= link_to 'stories', stories_path %> page
contains a listing of stories. Each story is made up of fragments, contributed by different writers. Each story will swerve and glimmer and when their creator decides they are ripe, they will end.</p>

<p>The rest of the engine, the weirder cogs and levers, will be built in collabiration with the writers and artists who will arrive if this experiment gives off enough pheromone.</p>
