<% if user_signed_in? %>
<h3>Welcome back <%= current_user.email %>.</h3>
<p>Many things have shifted in your absence. Dark tendrils have unfurled. Great and ancient
forests have colonised the valleys.<p/>
<% else %>
<h3>Welcome to the word engine!</h3>
<% end %>
